.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    background-color: beige
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}